<h1>Password Generator</h1>
<div>
  <label for="">Enter Length</label>
  <input (input)="onChangeLength($event)" />
</div>
<div>
  <label for="">Use Letters</label>
  <input type="checkbox" (change)="onChangeUseLetter()">
</div>
<div>
  <label for="">Use Numbers</label>
  <input type="checkbox" (change)="onChangeUseNumbers()">
</div>
<div>
  <label for="">Use Symbols</label>
  <input type="checkbox" (change)="onChangeUseSymbols()">
</div>
<div>
  <button [disabled]="!(length && (includeLetters || includeSymbols || includeNumbers))" (click)="onButtonClick()">Generate!</button>
</div>
<div *ngIf="password">
  <label for="">Your Password</label>
  <input type="text" [value]="password">
</div>